@import "../preflight.css";
@import "../coreBase.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.sk-ai-module {
  @apply z-[1000];
  @apply transition-none;
  @apply relative w-full h-screen grow;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
}

:host {
  font-family: var(--env-font-family);
}

.sk-ai-markdown {
  word-break: break-word;
}
